{% extends '::layout.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>

    <div class="row">

        <div class="col l12 xl4">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">{{ 'cm.dashboard.current_projects'|trans }}</span>
                    <table class="bordered">
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.endsAt|date('d/m/Y') }}</td>
                                <td>{{ project.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col l12 xl4">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">{{ 'cm.dashboard.current_tasks'|trans }}</span>
                </div>
            </div>
        </div>

        <div class="col l12 xl4">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">{{ 'cm.dashboard.summary'|trans }}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col l12 xl6">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">{{ 'cm.dashboard.last_invoices'|trans }}</span>
                    <table class="bordered">
                        {% for invoice in invoices %}
                            <tr>
                                <td>{{ invoice.code }}</td>
                                <td>{{ invoice.amount|price }}</td>
                                <td>{{ invoice.project.name }}</td>
                                <td>
                                    <i class="material-icons{% if invoice.paid %} green-text{% else %} red-text{% endif %}">{% if invoice.paid %}done{% else %}clear{% endif %}</i>
                                    <a href="{{ path('app_invoice_download', {id: invoice.id}) }}"><i class="material-icons black-text">file_download</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}