{% extends '::layout.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>

    <div class="row">
        <div class="col l12 xl6">

            <div class="card white">
                <div class="card-content">
                    <span class="card-title">{{ 'cm.dashboard.current_projects'|trans }}</span>
                    <table>
                        <tr>
                            <th>{{ 'cm.name'|trans }}</th>
                            <th>{{ 'cm.endsAt'|trans }}</th>
                            <th></th>
                        </tr>
                        {% for project in projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.endsAt|date('M d Y') }}</td>
                                <td>
                                    <a href="{{ path('app_project_edit', {id: project.id}) }}"><i class="material-icons">edit</i></a>
                                </td>
                            </tr>
                            {% else %}
                            <tr><td colspan="3"><em>{{ 'cm.no_project'|trans }}</em></td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div class="card white">
                <div class="card-content">
                    <span class="card-title">{{ 'cm.dashboard.last_invoices'|trans }}</span>
                    <table class="bordered">
                        {% for invoice in invoices %}
                            <tr>
                                <td>{{ invoice.code }}</td>
                                <td>{{ invoice.amount|price }}</td>
                                <td>{{ invoice.project.name }}</td>
                                <td>
                                    <i class="material-icons{% if invoice.paid %} green-text{% else %} red-text{% endif %}">{% if invoice.paid %}done{% else %}clear{% endif %}</i>
                                    <a href="{{ path('app_invoice_edit', {id: invoice.id}) }}"><i class="material-icons black-text">edit</i></a>
                                    <a href="{{ path('app_invoice_download', {id: invoice.id}) }}"><i class="material-icons black-text">file_download</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col l12 xl6">
            <div class="card white">
                <div class="card-content">
                    <table>
                        <tr>
                            <th colspan="2"><span class="card-title">{{ 'cm.dashboard.summary'|trans }} <span class="right">{{ 'now'|date('M Y') }}</span></span></th>
                        </tr>
                        <tr>
                            <th>{{ 'cm.invoice_paid'|trans }}</th><td>{{ sum.month.paid|number_format(2, ',', '.') }} }} €</td>
                        </tr>
                        <tr>
                            <th>{{ 'cm.invoice_not_paid'|trans }}</th><td>{{ sum.month.not_paid|number_format(2, ',', '.') }} }} €</td>
                        </tr>
                        <tr>
                            <th colspan="2"><span class="card-title">{{ 'cm.dashboard.summary'|trans }} <span class="right">{{ 'now'|date('Y') }}</span></span></th>
                        </tr>
                        <tr>
                            <th>{{ 'cm.invoice_paid'|trans }}</th><td>{{ sum.year.paid|number_format(2, ',', '.') }} }} €</td>
                        </tr>
                        <tr>
                            <th>{{ 'cm.invoice_not_paid'|trans }}</th><td>{{ sum.year.not_paid|number_format(2, ',', '.') }} }} €</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card white">
                <div class="card-content">
                    <span class="card-title">{{ 'cm.history'|trans }}</span>
                    <div id="summary-chart"></div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        {% spaceless %}
        var data = {
            labels: [{% for l in charts.summary.labels %}'{{ l|e('js') }}'{% if not loop.last %},{% endif %}{% endfor %}],
            series: [{% for s in charts.summary.series %}[{% for d in s %}{{ d|e('js') }}{% if not loop.last %},{% endif %}{% endfor %}]{% if not loop.last %},{% endif %}{% endfor %}]
        };
        {% endspaceless %}
        var options = {
            height: 400
        };
        new Chartist.Bar('#summary-chart', data, options);
    </script>
{% endblock %}