{% extends '::layout.html.twig' %}


{% block body %}

    <h1>{{ 'cm.clients'|trans }}<a href="{{ path('app_client_new') }}" class="waves-effect waves-light btn right">{{ 'cm.new'|trans }}</a></h1>
    <table class="striped">
        <tr>
            <th>{{ 'cm.id'|trans }}</th>
            <th>{{ 'cm.name'|trans }}</th>
            <th>{{ 'cm.actions'|trans }}</th>
        </tr>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>
                    <a href="{{ path('app_client_edit', {id: client.id}) }}" class="waves-effect waves-light btn">{{ 'cm.edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}