{% extends '::layout.html.twig' %}


{% block body %}

    {% if client %}
        <h1>{{ 'cm.new'|trans }}</h1>
    {% else %}
        <h1>{{ 'cm.edit'|trans }}</h1>
    {% endif %}

    <form action="{{ client ? path('app_client_edit', {id: client.id}) : path('app_client_new') }}" method="POST">
        {{ form_widget(form) }}
        <button type="submit" class="waves-effect waves-light btn">{{ 'cm.submit'|trans }}</button>
    </form>

{% endblock %}