{% extends '::layout.html.twig' %}


{% block body %}

    <h1>{{ 'cm.companies'|trans }}<a href="{{ path('app_company_new') }}" class="waves-effect waves-light btn right">{{ 'cm.new'|trans }}</a></h1>
    <table class="striped">
        <tr>
            <th>{{ 'cm.id'|trans }}</th>
            <th>{{ 'cm.name'|trans }}</th>
            <th>{{ 'cm.actions'|trans }}</th>
        </tr>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.name }}</td>
                <td>
                    <a href="{{ path('app_company_edit', {id: company.id}) }}" class="waves-effect waves-light btn">{{ 'cm.edit'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}