<h1>{{ details.name }}</h1>
<p>
    {{ details.addressLine1 }}<br/>
    {% if details.addressLine2 %}{{ details.addressLine2 }}<br/>{% endif %}
    {{ details.zipCode }} {{ details.city }}<br/>
    {% if details.vatNumber %}<strong>TVA</strong> {{ details.vatNumber }}<br/>{% endif %}
    <strong>SIRET</strong> {{ details.registrationNumber }}
</p>