{% extends 'pdf/layout.html.twig' %}
{% set amount = 0 %}

{% block client_details %}
    {%  include 'pdf/_details.html.twig' with {details: invoice.client} %}
{% endblock %}
{% block company_details %}
    {%  include 'pdf/_details.html.twig' with {details: invoice.company} %}
{% endblock %}

{% block body %}
    <h1>Facture n°{{ invoice.code }}<small>{{ invoice.createdAt|date('d/m/Y') }}</small></h1>
    <strong>Projet n° {{ invoice.project.code }}</strong>{% if invoice.quote %} - Devis n° {{ invoice.quote.code }}{% endif %}
    <div class="divider"></div>

    <table class="celled">
        <tr>
            <th width="55%">Désignation</th><th width="15%">Prix unitaire</th><th width="15%">Quantité</th><th width="15%">Total</th>
        </tr>
        {% for item in invoice.items %}
            {% set amount = amount + item.total %}
            <tr>
                <td>{{ item.details|nl2br }}</td>
                <td class="right">{{ item.amount|price }}</td>
                <td class="right">{{ item.quantity }}</td>
                <td class="right">{{ item.total|price }}</td>
            </tr>
        {% endfor %}
        {% for discount in invoice.discounts %}
            {% set amount = amount - discount.total %}
            <tr>
                <td>{{ discount.details|nl2br }}</td>
                <td class="right">- {{ discount.amount|price }}</td>
                <td class="right">{{ discount.quantity }}</td>
                <td class="right">- {{ discount.total|price }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="right"><strong>TOTAL</strong></td>
            <td class="right"><strong>{{ amount|price }}</strong></td>
        </tr>
    </table>
    <div class="divider"></div>
    <hr>
    <p>
        Règlement par virement : <br/>
        <strong>IBAN</strong> {{ bank.iban }}<br/>
        <strong>BIC</strong> {{ bank.bic }}
    </p>
    <p>
        <small>
            La facture est payable sous 30 jours.<br/>
            Tout règlement effectué après expiration du délai donnera lieu, à titre de pénalité de retard, à
            l'application d'un intérêt égal à celui appliqué par la Banque Centrale Européenne à son opération de
            refinancement la plus récente, majoré de 10 points de pourcentage, ainsi qu'à une indemnité forfaitaire
            pour frais de recouvrement d'un montant de 40 Euros.<br/>
            Les pénalités de retard sont exigibles sans qu'un rappel soit nécessaire.
        </small>
    </p>
{% endblock %}