{% extends 'pdf/layout.html.twig' %}

{% set amount = 0 %}

{% block client_details %}
    {%  include 'pdf/_details.html.twig' with {details: quote.client} %}
{% endblock %}
{% block company_details %}
    {%  include 'pdf/_details.html.twig' with {details: quote.company} %}
{% endblock %}

{% block body %}
    <h1>Code devis : {{ quote.code }}<small>{{ quote.createdAt|date('d/m/Y') }}</small></h1>
    <strong>Code projet : {{ quote.project.code }}</strong>
    <div class="divider"></div>

    <table class="celled">
        <tr>
            <th>Désignation</th><th>Prix unitaire</th><th>Quantité</th><th>Total</th>
        </tr>
        {% for item in quote.items %}
            {% set amount = amount + item.total %}
            <tr>
                <td>{{ item.details|nl2br }}</td>
                <td class="right">{{ item.amount|price }}</td>
                <td class="right">{{ item.quantity }}</td>
                <td class="right">{{ item.total|price }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="right"><strong>TOTAL</strong></td>
            <td class="right"><strong>{{ amount|price }}</strong></td>
        </tr>
    </table>
{% endblock %}