{% extends '::layout.html.twig' %}

{% block body %}
    <h1>{{ 'cm.invoice'|trans }}</h1>
    <form action="{{ invoice ? path('app_invoice_edit', {id: invoice.id}) : path('app_invoice_add') }}" method="POST">
        <div class="row">
            <div class="col s12 m6">
                {{ form_row(form.client) }}
                {{ form_row(form.project) }}
                {{ form_row(form.createdAt) }}
                {{ form_row(form.paid) }}
                {{ form_row(form.details) }}
                {{ form_row(form.amount) }}
            </div>
            <div class="col s12 m6">
                <a href="#" class="waves-effect waves-light btn right" id="add-invoice-item-button">{{ 'cm.new_invoice_item'|trans }}</a>
                {{ form_row(form.invoiceItems) }}
                {{ form_row(form._token) }}
            </div>
        </div>
        <button class="waves-effect waves-light btn right">{{ 'cm.submit'|trans }}</button>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // keep track of how many email fields have been rendered
        var emailCount = '{{ form.invoiceItems|length }}';

        $(function () {
            $('#add-invoice-item-button').click(function(e) {
                e.preventDefault();
                var invoiceItemList = $('#invoice_invoiceItems');
                // grab the prototype template
                var newWidget = invoiceItemList.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                newWidget = newWidget.replace(/__name__/g, emailCount);
                emailCount++;
                // create a new list element and add it to the list
                var newLi = jQuery('<div></div>').html(newWidget);
                newLi.appendTo(invoiceItemList);
            });
        });
    </script>
{% endblock %}