{% extends '::layout.html.twig' %}

{% block body %}
    <h1>{{ 'cm.billing'|trans }}<a href="{{ path('app_invoice_add') }}" class="waves-effect waves-light btn right">{{ 'cm.new'|trans }}</a></h1>
    <table class="striped">
        <tr>
            <th>{{ 'cm.code'|trans }}</th>
            <th>{{ 'cm.created_at'|trans }}</th>
            <th>{{ 'cm.project'|trans }}</th>
            <th>{{ 'cm.paid'|trans }}</th>
            <th>{{ 'cm.amount'|trans }}</th>
            <th>{{ 'cm.actions'|trans }}</th>
        </tr>
        {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.code }}</td>
                <td>{{ invoice.createdAt|date('M d Y') }}</td>
                <td>{{ invoice.project }}</td>
                <td>{% if invoice.paid %}<span class="material-icons green-text">done</span>{% else %}<span class="material-icons red-text">clear</span>{% endif %}</td>
                <td>{{ invoice.amount|number_format(2, '.', ' ') }} €</td>
                <td>
                    <a href="{{ path('app_invoice_edit', {id: invoice.id}) }}" class="waves-effect waves-light btn">{{ 'cm.edit'|trans }}</a>
                    <a href="{{ path('app_invoice_download', {id: invoice.id}) }}" class="waves-effect waves-light btn">{{ 'cm.download'|trans }}</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}